* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/Assets/background.jpg);
    display: grid;
    place-items: center;
    overflow-x: hidden;


h1 {
    margin: 10px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    border: 3px solid black;
    margin-bottom: 10px;
    box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.75);
    li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}
}

.divv {
    display: flex;
}



.box {
    margin: .5px;
    width: 75px;
    height: 75px;
}

#tog {
    margin: 10px 0px;
}



.allimg {
    width: 65px;
    position: relative;
    bottom: 5px;
}

.allpawn {
    transform: scale(.7);
}

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;

}
.restart {
    padding: 10px;
    width: 90px;
    margin-bottom: 10px;
}

}
@media (max-width:650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 11vw;
        height: 11vw;
    }

    .allimg {
        width: 10vw;
    }
}